.navbar {
    background-color: #404040;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #46b8ff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #46b8ff;
}